{% extends "base.html" %}


{% block mini %}
        <!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-mini">

            <div class="container clearfix">
                <h1 class="biz_blue">About Us</h1>
                
                <ol class="breadcrumb">
                    <li><a href={% url 'home' %}>Home</a></li>
                    <li class="active">About Us</li>
                </ol>
            </div>

        </section><!-- #page-title end -->
{% endblock %}
{% block content %}
        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="col_full">

                        <div class="heading-block-dark center nobottomborder">
                            <h2 class="biz_blue">Biz Sprint</h2>

                            <p>Lorem ipsum dolor sit amet, odio modo ludus ei vis, ea liber iudico nec. Ut iudicabit consequat expetendis ius. Ius ad adhuc clita, sumo liber aeterno ei pro. Euismod nostrum erroribus ei vis. Vix graeco utamur ei, in sea clita detracto.

An utamur voluptatum moderatius vis, et vel nulla tollit iriure. Mei eu omnes oblique iudicabit, ius ad mutat idque petentium. Ea duo omnis ridens labitur, ea audire mentitum dissentiunt vis. Ut sapientem consequat temporibus usu. Cum nemore veritus epicuri an, in consul mollis vis.

Eam te quem erat minim, ne propriae moderatius nec. Vis primis iriure neglegentur ad, ne iudico feugiat dissentias duo. Et pro tation consequuntur, sed nostro molestie consetetur no, sed dictas forensibus id. Fugit definitiones ad usu, cibo patrioque similique eos at, ea doctus theophrastus intellegebat vim. Cu ius sumo diceret. An sea vidit principes conclusionemque, ea nec quando repudiandae, in has diceret fierent posidonium.

Has eu enim aliquando, has et dicunt singulis legendos, at laoreet persequeris pri. Everti graecis vix te, impetus ornatus fierent id vis, ne pro blandit eligendi concludaturque. Mel latine labitur accusata te. In consul alterum tincidunt sea.

Cu ius modo dolor. Ipsum incorrupte ut sit, an euismod fierent has. Facilis detraxit mediocritatem no mei, has ad assum oporteat vivendum. Est id vide legere mentitum, adipisci tincidunt mei in, sit id cibo mandamus. Vis no iriure fierent. Eum ea mundi doctus dolorem, per tacimates inciderint no, dicta adversarium quo an.</p>
                        </div>

                      

                    </div>


                  
                   

                  <div class="divider divider-short divider-center"><i class="fa fa-crop" aria-hidden="true"></i></div>
                 

                     <div class="heading-block-dark center">
                        <h2 class="biz_blue">Meet The Team</h2>

                    </div>

                    <div class="container clearfix">
                        <div class="col-md-12">
                        <div class="col-md-6 col-centered">

                            <div class="team team-list clearfix">
                                <div class="team-image" data-animate="zoomInLeft">
                                    <img src="/static/images/team/sheri.jpg" alt="Sheri">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Sheri Dover</h4><span>Director</span></div>
                                    <div class="team-content"></div>
                                    <a href="#" class="btn btn-social-icon btn-facebook">
                                         <span class="fa fa-facebook"></span>
                                    </a>
                                     <a href="#" class="btn btn-social-icon btn-twitter">
                                         <span class="fa fa-twitter"></span>
                                    </a>
                                    <a href="#" class="btn btn-social-icon btn-linkedin">
                                         <span class="fa fa-linkedin"></span>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-centered">

                            <div class="team team-list clearfix">
                                <div class="team-image" data-animate="zoomInRight">
                                    <img src="/static/images/team/chrisjones.jpg" alt="Chris">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Chris Jones</h4><span>IT Manager / Advisor</span></div>
                                    <div class="team-content"></div>

                                    <a href="#" class="btn btn-social-icon btn-github">
                                         <span class="fa fa-github"></span>
                                    </a>
                                    <a href="#" class="btn btn-social-icon btn-linkedin">
                                         <span class="fa fa-linkedin"></span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        </div>
                    </div>

                </section>
                     {% endblock %}
    {% block footer_stick %}
                        <div class="clear"></div>

                <div class="section topmargin-sm footer-stick">

                    <h4 class="uppercase center biz_blue"><span>ATTENDEES</span> FEEDBACK</h4>

                    <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
                        <div class="flexslider">
                            <div class="slider-wrap">
                                <div class="slide">
                                    <div class="testi-image">
                                        <a href="#"><img src="/static/images/team/avatar_me.jpg" alt="Customer Testimonails"></a>
                                    </div>
                                   <div class="testi-content">
                                        <p>I want to be a part of the forest family this year. Everyone says that this is the best and most affordable way to go to any fest. Good vibes.</p>
                                        <div class="testi-meta">
                                            Yusuf
                                            <span>Via Facebook</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="testi-image">
                                        <a href="#"><img src="/static/images/team/avatar_me.jpg" alt="Customer Testimonails"></a>
                                    </div>
                                    <div class="testi-content">
                                        <p>Had so much fun on this trip and met a lot of cool people.. would like to thank Brian Thomas for organizing this trip.. until the next trip... :)</p>
                                        <div class="testi-meta">
                                            Roxy
                                            <span>Via Facebook</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="testi-image">
                                        <a href="#"><img src="/static/images/team/avatar_me.jpg" alt="Customer Testimonails"></a>
                                    </div>
                                     <div class="testi-content">
                                        <p>It's an awesome time. Get to meet a lot of cool people you guys rock !!!</p>
                                        <div class="testi-meta">
                                            Ivette
                                            <span>Via Facebook</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            <!-- #content end -->


  {% endblock %}