{% load staticfiles %}


<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

  <title>{% block head_title %}Biz Sprint{% endblock %}</title>



        <!-- All CSS Files in Head -->
    {% include 'head_css.html' %}

  </head>

  <body class="stretched">

<!-- Document Wrapper
    ============================================= -->

    {% include 'navbar.html' %}


    {% block jumbotron %}



     {% endblock %}
 <div class="container">



   {% block content %}

    {% endblock %}


    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}


   {% include "footer.html" %}

    <div id="gotoTop" class="icon-angle-up"></div>

   {% include "javascript.html" %}

  </body>
</html>
 
