{% load staticfiles %}


<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

  <title>{% block head_title %}Biz Sprint{% endblock %}</title>

<link rel="shortcut icon" href="images/roundicon.ico" type="image/x-icon" />


        <!-- All CSS Files in Head -->
    {% include 'head_css.html' %}

  </head>
  <body class="stretched">

    <div id="wrapper" class="clearfix">
<!-- Document Wrapper
    ============================================= -->

    {% include 'navbar.html' %}

    {% block mini %}

    {% endblock %}


    {% block jumbotron %}{% endblock %}

    {% block form_sign %}{% endblock %}

    {% block email %}{% endblock %}

    {% block twitter %}
    {% endblock %}

 <div class="container">



   {% block content %}

    {% endblock %}

{% block upcoming %}

 {% endblock %}


    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

{% block footer_stick %}
    {% endblock %}

   {% include "footer.html" %}

    <div id="gotoTop" class="fa fa-chevron-up" aria-hidden="true"></div>

   {% include "javascript.html" %}
    </div>

  </body>
</html>
 
