{% extends "base.html" %}

{% block head_title %}Blog | {{ block.super }}{% endblock %}

{% block mini %}
        <!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-mini">

            <div class="container clearfix">
                <h1 class="biz_blue">Biz Blog</h1>

                <ol class="breadcrumb">
                    <li><a href={% url 'home' %}>Home</a></li>
                    <li class="active">Blog</li>
                </ol>
            </div>

        </section><!-- #page-title end -->
{% endblock %}
{%  if messages %}
    <div class="messages">

        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% if "html_safe" in message.tags %}
                {{ message|safe }}{% else %}{{ message }}{% endif %}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% block content %}

    {%  for obj in object_list %}

    {% url "detail" id=obj.id %}
    <a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><br/>
    {{ obj.content }}<br/>
    {{ obj.timestamp }}<br/>
    {{ obj.updated }}<br/>
    {{ obj.id }}<br/>

   {% endfor %}

{% endblock %}
