{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Contact | {{ block.super }}{% endblock %}

{% block mini %}
        <!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-mini">

            <div class="container clearfix">
               <h1>{{ title }}</h1>

                <ol class="breadcrumb">
                    <li><a href={% url 'home' %}>Home</a></li>
                    <li class="active">Contact</li>
                </ol>
            </div>

        </section><!-- #page-title end -->
{% endblock %}
{% block content %}


<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Contact Form
					============================================= -->
					<div class="col_half">



						<div>

							<div class="contact-form-result"></div>

							<form class="uniForm" action="/contact/" method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}


                                <div class="col_full">

                                    <div class="g-recaptcha" data-sitekey="6LdSsSATAAAAAJoJZ5t_kU49ApKkVP0ankO0VRfA
"></div>

								</div>


                                    <input class='btn btn-default' type='submit' value='Submit'/>



							</form>
						</div>

					</div><!-- Contact Form End -->

					<!-- Google Map
					============================================= -->
					<div class="col_half col_last">

						<div class="widget visible-lg visible-md clearfix">
							<h4>Our Location</h4>

							<iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJqcexvGsKlVQRS23cQFZaaOE&key=AIzaSyBK1tVedx2xkh0JEsWXS4o7YbQUEcvBCnY" width="600" height="430" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div><!-- Google Map End -->

					<div class="clear"></div>

					<!-- Contact Info
					============================================= -->


		</section><!-- #content end -->

{% endblock %}





