{% extends "base.html" %}


{% block content %}

        <!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-mini">

            <div class="container clearfix">
                <h1>Frequently Asked Questions</h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">FAQs</li>
                </ol>
            </div>

        </section><!-- #page-title end -->

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                      <!-- Post Content
                    ============================================= -->
                    <div class="nobottommargin clearfix">

                        <div id="faqs" class="faqs">

                            <div id="faqs-list" class="fancy-title title-bottom-border">
                                <h3>Some of your Questions:</h3>
                            </div>

                            <ul class="iconlist faqlist">
                                <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-1">Is this event for me?</a></strong></li>
                                <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-2">Can I attend without participating on a team?</a></strong></li>
                                <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-3">How do I register?</a></strong></li>
                                <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-4">How do I prepare?</a></strong></li>
                                <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-5">What should I bring?</a></strong></li>
                                <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-6">What types of ideas can I pitch?</a></strong></li>
                                <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-7">Can I pitch my existing business?</a></strong></li>
                                <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-8">What if my idea doesn’t get selected?</a></strong></li>
                                <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-9">Am I expected to work nonstop for 54 hours?</a></strong></li>
                                <!--<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-10">Are there bathrooms on the bus?</a></strong></li>-->
                                <!--<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-11">What is there to do on the long bus rides?</a></strong></li>-->
                                <!--<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-12">Are there refunds if I can no longer make it on a trip?</a></strong></li>-->
                                <!--<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-13">Can I purchase separate accommodations?</a></strong></li>-->
                                <!--<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-14">Does Music Festival Trips offer payment plans?</a></strong></li>-->
                                <!--<li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-15">Hotel/Resort Trips: Can we smoke in our rooms?</a></strong></li>-->
                            </ul>

                            <div class="divider"><i class="icon-circle"></i></div>

                            <h3 id="faq-1"><strong>Q.</strong> Is this event for me?</h3>
                            <p>Startup Weekend attendees’ backgrounds are roughly 50% technical (developers, coders, designers) and 50% business (marketing, finance, law). What unites all attendees is a common interest in entrepreneurship: whether a serial entrepreneur or new to the startup scene, every attendee is interested in working with a like-minded, motivated and skilled team to develop a product or business in one weekend. If this sounds like you, this is the event for you!</p>

                            <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                            <h3 id="faq-2"><strong>Q.</strong> Can I attend without participating on a team?</h3>
                            <p>At most Startup Weekends, a “Sunday Presentations Only” registration option is available for those wishing to view the teams’ final presentations. (Please check the registration page of your city’s website for availability.)However, apart from Organizers, selected Coaches, Speakers, and press, everyone who attends the event is expected to participate on a team. This is important not only to preserve the ‘vibe’ of the weekend (“no talk, all action”) but also to minimize distractions/disruptions for working teams.</p>

                            <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                            <h3 id="faq-3"><strong>Q.</strong> How do I register?</h3>
                            <p>Every Startup Weekend event has a corresponding website (typically with the URL “[city].startupweekend.org”) with a registration page. Please see our events page at startupweekend.org/eventsfor a complete list of upcoming events.If registration is not open, ticketing has either not yet opened or is already sold out. Please respect the different event ticket types: if Business tickets are sold out and you fall into the Business category, you’ll have to wait for the next event (which won’t be far off!). This is an important part of our efforts to maintain a balance between attendees’ backgrounds/skill-sets in order to maximize the event’s value for each participant.</p>

                            <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                            <h3 id="faq-4"><strong>Q.</strong> How do I prepare?</h3>
                            <p>Do some research into startup tools and best practices to get ready to rock the weekend – start with our database of resources at startupweekend.org/resources. Make sure you get lots of rest prior to the event, and finally – tell your friends!If you plan on pitching an idea:
                            Do as much research/preparation around your idea as you feel is necessary to give a persuasive pitch and attract a team.
							Boil the idea down to the basics: with 60 seconds, you only really have time for a hook, so pull out the most attractive key points of the idea and forget the rest.
							Practice your pitch using a timer!</p>

                            <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                            <h3 id="faq-5"><strong>Q.</strong> What should I bring?</h3>
                            <ul>
								<li>Laptop</li>
								<li>Power cord</li>
								<li>Business cards</li>
								<li>Camera – take pictures and video!</li>
								<li>A second monitor, keyboard, etc…. set yourself up to be productive!</li>

							</ul>

                            <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                            <h3 id="faq-6"><strong>Q.</strong> What types of ideas can I pitch?</h3>
                            <p>Any business ideas are eligible (whether for-profit, ‘social’ businesses, non-profit organizations, etc.), however the event is strongly tech-oriented. Approximately 95% of all ideas are mobile or web focused, and given the short time-frame, we strongly recommend that even non-tech ideas focus on a tech-related deliverable (i.e., website) by Sunday.</p>

                            <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                            <h3 id="faq-7"><strong>Q.</strong> Can I pitch my existing business?</h3>
                            <p>No. Startup Weekend is designed to be the most effective platform for growing new businesses from the ground up over the course of a weekend. A key facet of the weekend – and a central value for participants – is the spirit of complete collaboration, buy-in and ownership. We’ve found that having existing businesses in the mix undermines this spirit, in addition to creating an imbalance between those ideas that are truly ground-level.</p>

                            <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                            <h3 id="faq-8"><strong>Q.</strong> What if my idea doesn’t get selected?</h3>
                            <p>The purpose of the Friday crowd-sourcing isn’t to exclude certain ideas, but simply to highlight the most popular/high-potential pitches and end up with a manageable number of teams – ensuring that each team has a variety of backgrounds/skills. If your idea isn’t selected but you’ve formed a team around the idea, you’re welcome to work on it over the weekend. If you decide to do so, however, please tell the event Organizer, as this may be an issue regarding your teams’ eligibility for prizes.</p>

                            <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                            <h3 id="faq-9"><strong>Q.</strong> Am I expected to work nonstop for 54 hours?</h3>
                            <p>No. At some events, certain teams will decide to work all through Friday and/or Saturday night, but this is by no means obligatory or expected. Whether or not you are allowed to work at the venue at night depends on the venue’s opening hours – please ask your event’s Organizer.</p>

                            <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                            <!--<h3 id="faq-10"><strong>Q.</strong> Are there bathrooms on the bus?</h3>-->
                            <!--<p>Yes, there are bathrooms on the bus.</p>-->

                            <!--<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>-->

                            <!--<h3 id="faq-11"><strong>Q.</strong> What is there to do on the long bus rides?</h3>-->
                            <!--<p class="nobottommargin">We will play movies, music, raffle prizes, meet new people on the trip, the choices are endless, or you can always take a nice long nap.</p>-->

                            <!--<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>-->

                            <!--<h3 id="faq-12"><strong>Q.</strong> Are there refunds if I can no longer make it on a trip?</h3>-->
                            <!--<p class="nobottommargin">We do not offer refunds under any circumstances, however if you can no longer make it you are encouraged to sell your spot to someone else for the price purchased. You AND the purchaser must contact the trip coordinator to transfer the package spot.  Transfers are only available up to 72 hours in advance of departure the designated trip.</p>-->

                            <!--<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>-->

                            <!--<h3 id="faq-13"><strong>Q.</strong> Can I purchase separate accommodations?</h3>-->
                            <!--<p class="nobottommargin">In most cases, we can accommodate your need for extra privacy, for a small fee on top of the original package price. It is best to contact us immediately after your purchase of the package if you wish to do this, as room space may limit our ability to accommodate your needs.</p>-->

                            <!--<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>-->

                            <!--<h3 id="faq-14"><strong>Q.</strong> Does Music Festival Trips offer payment plans?</h3>-->
                            <!--<p class="nobottommargin">Yes, we do offer payment plans for certain trips, if you wish to do a payment plan contact us at info@musicfestivaltrips.com, we will then direct you on how to proceed.</p>-->

                            <!--<div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>-->

                            <!--<h3 id="faq-15"><strong>Q.</strong> Hotel/Resort Trips: Can we smoke in our rooms?</h3>-->
                            <!--<p class="nobottommargin">ABSOLUTELY NOT, all rooms on the trip are booked as nonsmoking, there will be an additional smoking fee if the issue occurs that will be split between all patrons of the room evenly. Just don’t do it.</p>-->

                        </div>

                    </div><!-- .postcontent end -->

                </div>

            </div>

        </section><!-- #content end -->

{% endblock %}