<!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">

            <!-- Copyrights
            ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">

                    <div class="col_half">
                        <a href="#">
                            <img class="footer-logo border="0" alt="bizsprint" src="/static/images/bizblulogoSm.png" width="140" height="75">
                        </a>


                        Copyrights &copy; 2016 All Rights Reserved by Biz Sprint<br>


                    </div>

                    <div class="col_half col_last tright">
                         <div class="copyrights-menu copyright-links fright clearfix">
                            <a href="{% url 'home' %}">Home</a>/<a href="{% url 'about' %}">About</a>/<a href="events-list.html">Events</a>/<a href='{% url "posts:list" %}'>Biz Blog</a></li>/<a href="faqs.html">FAQ</a>/<a href="contact-2-recaptcha.html">Contact</a>
                             <a href="https://www.facebook.com/bizsprintsocial/?notif_t=page_admin&notif_id=1468887925923313" target="_blank" class="btn btn-social-icon btn-facebook">
										<span class="fa fa-facebook "></span>
                             </a>

                             <a href="#" class="btn btn-social-icon btn-twitter">
                                         <span class="fa fa-twitter"></span>
                             </a>
                        </div>

                    </div>
                </div>
            </div><!-- #copyrights end -->

        </footer><!-- #footer end -->
{#<div class="team team-list clearfix">#}
{#<div class="team-content"></div>#}
{#                                    <a href="#" class="btn btn-social-icon btn-facebook">#}
{#                                         <span class="fa fa-facebook"></span>#}
{#                                    </a>#}
{#                                     <a href="#" class="btn btn-social-icon btn-twitter">#}
{#                                         <span class="fa fa-twitter"></span>#}
{#                                    </a>#}