<!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">

            <!-- Copyrights
            ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">

                    <div class="col_half">
                        <a href="#">
                            <img class="footer-logo border="0" alt="bizsprint" src="/static/images/bizblulogoSm.png" width="140" height="75">
                        </a>


                        Copyrights &copy; 2016 All Rights Reserved by Biz Sprint<br>


                    </div>

                    <div class="col_half col_last tright">
                         <div class="copyrights-menu copyright-links fright clearfix">
                            <a href="{% url 'home' %}">Home</a>/<a href="{% url 'about' %}">About</a>/<a href="events-list.html">Events</a>/<a href="blog.html">Blog</a>/<a href="faqs.html">FAQ</a>/<a href="contact-2-recaptcha.html">Contact</a>
                        </div>

                    </div>

                    </div>
            </div><!-- #copyrights end -->

        </footer><!-- #footer end -->
