{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Blog | {{ block.super }}{% endblock %}

{% block mini %}
        <!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-mini">

            <div class="container clearfix">
                <h1 class="biz_blue">Create Post</h1>

                <ol class="breadcrumb">
                    <li><a href={% url 'home' %}>Home</a></li>
                    <li class="active">Create</li>
                </ol>
            </div>

        </section><!-- #page-title end -->
{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
<h1>{{ title }}</h1>
    <form method="POST" action="" enctype='multipart/form-data'>{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="{{ title }}"/>
    </form>
</div>
{% endblock %}
