{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome to | {{ block.super }}{% endblock %}



<style>
{% block style %}
{% endblock %}
</style>

{% block mini %}
		<!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-mini">

			<div class="container clearfix">
				<h1>Logged in as {{ user }}</h1>

				<ol class='breadcrumb'>

		{% block post_detail_link %}
		{% endblock %}

                    {% if not request.user.is_authenticated %}
                    <li><a href='{% url "signin:register" %}'>Register</a></li>
                    <li><a href='{% url "signin:signin" %}'>Login</a></li>
                   {% else %}
                    <li><a href='{% url "signin:signout" %}'>Logout</a></li>
                    {% endif %}
	            </ol>
			</div>

		</section><!-- #page-title end -->
{% endblock %}

{% block jumbotron %}

 <!--  :::  HOME SLIDER ::: -->
<section id="slider" class="slider-parallax dark full-screen img-responsive">

			<div class="slider-parallax-inner">

				<div class="container clearfix">

					<div class="vertical-middle">

						<div class="heading-block center nobottomborder">
							<h1 data-animate="fadeInUp"><strong>{{ title }} Back To BizSprint {{ user }}</strong></h1>
							<span data-animate="fadeInUp" data-delay="300">View upcoming events below.</span>
						</div>

						</div>

						<div class="accordion accordion-lg divcenter nobottommargin clearfix"></div>

					<a href="#" data-scrollto="#section-features" class="one-page-arrow"><i class="fa fa-angle-down infinite animated fadeInDown"></i></a>

				</div>

				</div>
			</div>
		</section>

{% endblock %}


{% block upcoming %}
	<div class="pricing-title  text_align_center ">
	<h1>Upcoming Sprints!</h1>
	</div>
    <div class="wrapper list_events">
	 <div class="entry clearfix"  data-animate="fadeInDown">


		 <div class="text_align_center">
<div id="events">

</div>
		 </div>

		 </div>
    </div>


{% endblock %}


