{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome to | {{ block.super }}{% endblock %}



<style>
{% block style %}
{% endblock %}
</style>

{% block mini %}
		<!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-mini">

			<div class="container clearfix">
				<h1>Logged in as {{ user }}</h1>

				<ol class='breadcrumb'>

		{% block post_detail_link %}
		{% endblock %}

                    {% if not request.user.is_authenticated %}
                    <li><a href='{% url "signin:register" %}'>Register</a></li>
                    <li><a href='{% url "signin:signin" %}'>Login</a></li>
                   {% else %}
                    <li><a href='{% url "signin:signout" %}'>Logout</a></li>
                    {% endif %}
	            </ol>
			</div>

		</section><!-- #page-title end -->
{% endblock %}

{% block jumbotron %}
 <!--  :::  HOME SLIDER ::: -->
<section id="slider" class="slider-parallax dark full-screen img-responsive">

			<div class="slider-parallax-inner">

				<div class="container clearfix">

					<div class="vertical-middle">

						<div class="heading-block center nobottomborder">
							<h1 data-animate="fadeInUp"><strong>{{ title }} Back To BizSprint {{ user }}</strong></h1>
							<span data-animate="fadeInUp" data-delay="300">View upcoming events below.</span>
						</div>

						</div>

						<div class="accordion accordion-lg divcenter nobottommargin clearfix"></div>

					<a href="#" data-scrollto="#section-features" class="one-page-arrow"><i class="fa fa-angle-down infinite animated fadeInDown"></i></a>

				</div>

				</div>
			</div>
		</section>

{% endblock %}


{% block upcoming %}
	<div class="pricing-title  text_align_center ">
	<h1>Upcoming Sprints!</h1>
	</div>
    <div class="wrapper list_events">
	 <div class="entry clearfix"  data-animate="lightSpeedIn">


		 <div class="text_align_center">
<div id="events">

</div>
		 </div>

		 </div>
    </div>


{#<div class="divider divider-short divider-center"><i class="fa fa-crop"></i></div>#}
{##}
{##}
{##}
{##}
{#					<div class="clear"></div>#}
{#<div class="fancy-title title-border title-center">#}
{#						<h3>Sponsors</h3>#}
{#					</div>#}
{##}
{#					<div id="oc-clients-full" class="owl-carousel owl-carousel-full image-carousel bottommargin-sm carousel-widget" data-margin="30" data-loop="true" data-nav="false" data-autoplay="5000" data-pagi="false"data-items-xxs="2" data-items-xs="3" data-items-sm="4" data-items-md="5" data-items-lg="6">#}
{##}
{#						<div class="oc-item"><a href="https://teamtreehouse.com/home" target="_blank"><img src="/static/images/BottomSlider/treehouse.png" alt=""></a></div>#}
{#						<div class="oc-item"><a href="https://www.urbanairship.com/" target="_blank"><img src="/static/images/BottomSlider/urban-airship-logo.png" alt=""></a></div>#}
{#						<div class="oc-item"><a href="http://www.learning.com/" target="_blank"><img src="/static/images/BottomSlider/learningLogo.png" alt=""></a></div>#}
{#						<div class="oc-item"><a href="http://www.elementaltechnologies.com/" target="_blank"><img src="/static/images/BottomSlider/imgres.png" alt=""></a></div>#}
{#						<div class="oc-item"><a href="http://www.nike.com/us/en_us/" target="_blank"><img src="/static/images/BottomSlider/NIKE.png" alt=""></a></div>#}
{#						<div class="oc-item"><a href="http://www.ibm.com/us-en/" target="_blank"><img src="/static/images/BottomSlider/IBM.png" alt=""></a></div>#}
{#						<div class="oc-item"><a href="https://healthplans.providence.org/individuals-families/" target="_blank"><img src="/static/images/BottomSlider/phs_logo550px.png" alt="Clients"></a></div>#}
{#						<div class="oc-item"><a href="http://bluejeans.com/" target="_blank"><img src="/static/images/BottomSlider/bluejeans.png" alt=""></a></div>#}
{#						<div class="oc-item"><a href="http://newrelic.com/" target="_blank"><img src="/static/images/BottomSlider/NewRelic-logo-square.png" alt="Clients"></a></div>#}
{##}
{#					</div>#}

{% endblock %}


