{% load staticfiles %}



    <!-- External JavaScripts
    ============================================= -->
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.calendario.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/events-data.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.gmap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>

        <!-- Tether - a requirement for Bootstrap tooltips -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>

        <!-- Marked - a requirement for Marked markup Lang -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

{#Create an image field#}
 <script>
    $(document).ready(function() {

        //anon oauth token
        var token = 'R3PE2OGPQEXNYJYY6B2G';
        //org id
        var organizer = '10975269839';
        var $events = $("#events");


        $events.html("<i>Loading events, please stand by...</i>");
        $.get('https://www.eventbriteapi.com/v3/users/me/owned_events/?token=R3PE2OGPQEXNYJYY6B2G&expand=venue', function(res) {
            if(res.events.length) {
                var b = "";
                for(var i=0;i<res.events.length;i++) {
                    var event = res.events[i];
                    var eventTime = moment(event.start.local).format('MMMM Do YYYY, h:mm:ss A');
                    console.dir(event);
                    b += "<div class='eventList'>";
                    b += "<h2>" + event.name.text + "</h2>";
                    b += "<p><b>Location: " + event.venue.address.address_1 + "</b><br/>";
                    b += "<b>Date &amp; Time: " + eventTime + "</b></p>";
                    b += "<p>" + event.description.text + "</p>";
                    b += "<button onClick=window.location='" + event.url + "'  type='button' class='micro-ticket-box__btn btn button button-3d button-gray  nobottommargin btn--responsive js-ticket-modal-btn ' data-automation='ticket-modal-btn'>Register</button'>";
                    b += "</div>";
                }
                $events.html(b);
            } else {
                $events.html("<p>Sorry, there are no upcoming events.</p>");
            }

        });



    });


    </script>

