{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome to | {{ block.super }}{% endblock %}


		{% block mini %}
        <!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-mini">

            <div class="container clearfix">
                <h1 class="biz_blue">Login</h1>

                <ol class="breadcrumb">
                    <li><a href={% url 'home' %}>Home</a></li>
                    <li class="active">About Us</li>
                </ol>
            </div>

        </section><!-- #page-title end -->
{% endblock %}

{% block content %}
		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="col_one_third nobottommargin">

						<div class="well well-lg nobottommargin">
							<form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
								<h3>Login to your Account</h3>

								<div class="col_full">
									<label for="login-form-username">Username:</label>
									<input type="text" id="login-form-username" name="login-form-username" value="{{ title }} class="form-control" />
								</div>

								<div class="col_full">
									<label for="login-form-password">Password:</label>
									<input type="password" id="login-form-password" name="login-form-password" value="{{ title }} class="form-control" />
								</div>

								<div class="col_full nobottommargin">
									<button class="button button-3d nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
									<a href="login-register.html" class="fright">Forgot Password?</a>
								</div>

							</form>
						</div>

					</div>




		</section><!-- #content end -->

{% endblock %}

