<div class="bannerimage" align="center">
<a href="http://%LIVESCORINGHOST%/%YEAR%/home/%LEAGUEID%">
<img style="border: medium none;" title="Mag 12" alt="Mag 12" src="http://www.ghostxray.com/MFL/Mag12/Banner.jpg">
</a>
</div>

<!-- LOAD COMMISSIONER ICON -->
<div id='commishIconDIV'  style="display:none"><module name="MY_ICON" FRANCHISE="0000"/></div>

<!-- LINK CHAT JS -->
<script src="http://www.ghostxray.com/MFL/Mag12/chat-Icons.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<!-----  LOAD JQUERY LIBRARY  ------>
<script src="http://www.ghostxray.com/MFL/Mag12/jquery-1.11.0.min.js" type="text/javascript"></script>



<!-----  FIX MFL LOADED CAMERATAGJS FILE FROM CONFLICTING WITH JQUERY  ------>
<script type="text/javascript">
CameraTag.jQueryPreInstalled = true;
</script>
<!------------  ADD CAPTIONS AND TEXT TO REPORTS MFL HAS FORGOTTEN TO DO SO  ------------->
<script type="text/javascript">
$(document).ready(function () {
  $('#body_options_22 .pagebody table.two_column_layout').first().removeClass('two_column_layout').addClass('report results').prepend('<caption><span>Weekly Results</span></caption>');
  $('#body_weekly .pagebody table.two_column_layout').first().removeClass('two_column_layout').addClass('report results').prepend('<caption><span>Weekly Results</span></caption>');
  $('#body_menu_page .pagebody .report.nocaption:contains("My Player News")').prepend('<caption><span>For Owners</span></caption>');
  $('#body_menu_page .pagebody .report.nocaption:contains("Set Up A New League")').prepend('<caption><span>My Leagues</span></caption>');
  $('#body_menu_page .pagebody .report.nocaption:contains("Refer A Friend")').prepend('<caption><span>For Commissioners</span></caption>');
  $('#body_menu_page .pagebody .report.nocaption:contains("Bulletin Board")').prepend('<caption><span>Communications</span></caption>');
  $('#body_menu_page .pagebody .report.nocaption:contains("Mail This Page")').prepend('<caption><span>This Page</span></caption>');
  $('#body_menu_page .pagebody .report.nocaption:contains("Help Center")').prepend('<caption><span>Help</span></caption>');
  $('#body_options_72 .pagebody .report').prepend('<caption><span>Write New Article</span></caption>');
  $('#body_edit_article .pagebody .report').prepend('<caption><span>Edit Article</span></caption>');
  $('#body_board_show .pagebody .report').prepend('<caption><span>Message Board Summary</span></caption>');
  $('#body_options_67 .pagebody .report').prepend('<caption><span>Delete Transactions</span></caption>');
  $('#body_options_158 .pagebody .report').prepend('<caption><span>Matchup Records</span></caption>');
  $('#body_generate_embed .pagebody .report').prepend('<caption><span>Generate MFL Widgets</span></caption>');
  $('#body_options_17 .pagebody .report,#body_options_109 .pagebody .report').prepend('<caption><span>Draft Results</span></caption>');
  $('#body_options_54 .pagebody .report').prepend('<caption><span>Head-To-Head Matchups</span></caption>');
  $('#body_options_137 .pagebody .report').prepend('<caption><span>Monthly Calendar</span></caption>');
  $('#body_options_112 .pagebody .report').prepend('<caption><span>League History</span></caption>');
  $('#body_options_105 .pagebody .report').prepend('<caption><span>Roster Grid</span></caption>');
  $('#body_options_03 .pagebody .report').prepend('<caption><span>League Transactions</span></caption>');
  $('#body_locked_players .pagebody .report:contains("Dropped By")').prepend('<caption><span>Current Locked Players</span></caption>');
  $('#body_free_agents .pagebody .report').prepend('<caption><span>Free Agents</span></caption>');
  $('#body_options_236 .pagebody .report').prepend('<caption><span>Player Projections</span></caption>');
  $('#body_options_37 .pagebody .report').prepend('<caption><span>Starter Points</span></caption>');
  $('#body_options_238 #map_canvas').wrap('<table class="map report"><tbody><tr><td></td></tr></tbody></table>');
  $('.map.report').prepend('<caption><span>League Map</span></caption>');
  $('#body_options_26 .pagebody .report').prepend('<caption><span>League Setup</span></caption>');
  $('#body_options_23 .pagebody .report.nocaption').prepend('<caption><span>Franchise Point Analysis</span></caption>');
  $('#body_options_81 .pagebody .report.nocaption').prepend('<caption><span>Franchise Point Analysis</span></caption>');
  $('#body_options_08 .pagebody .report,#body_top .pagebody .report.nocaption').prepend('<caption><span>Player Stats</span></caption>');
  $('#body_processed_waivers .pagebody .report.nocaption').prepend('<caption><span>Processed Waivers</span></caption>');
  $('#body_options_52 .pagebody table').addClass('report');
  $('#body_options_151 .pagebody .report').prepend('<caption><span>My Draft Preferences</span></caption>');
  $('#body_options_161 .pagebody .report').prepend('<caption><span>Pool Setup</span></caption>');
  $('#body_options_28 .pagebody .report').prepend('<caption><span>Accounting Setup</span></caption>');
  $('#body_options_40 .pagebody .report').prepend('<caption><span>Standings Setup</span></caption>');
  $('#body_options_65 .pagebody .report').prepend('<caption><span>Standings Columns Setup</span></caption>');
  $('#body_options_62 .pagebody .report').prepend('<caption><span>Division/Conference Setup</span></caption>');
  $('#body_league_setup1 .pagebody .report').prepend('<caption><span>League Setup</span></caption>');
  $('#body_options_145 .pagebody .report').prepend('<caption><span>Custom Waiver Order</span></caption>');
  $('#body_options_64 .pagebody .report').prepend('<caption><span>Setup Commissioner Email</span></caption>');
  $('#body_options_103 .pagebody .report').prepend('<caption><span>Send Out League Invites</span></caption>');
  $('#body_options_30 .pagebody .report').prepend('<caption><span>League Scoring Setup</span></caption>');
  $('#body_options_108 .pagebody .report').prepend('<caption><span>Select Scoring Package</span></caption>');
  $('#body_scoring_setup1 .pagebody .report.nocaption').prepend('<caption><span>Current Scoring Rules</span></caption>');
  $('#body_options_167 .pagebody .report').prepend('<caption><span>Refer A Friend</span></caption>');
  $('#body_options_63 .pagebody .report').prepend('<caption><span>Starting Lineup Setup</span></caption>');
  $('#body_options_149 .pagebody .report').prepend('<caption><span>Formations Setup</span></caption>');
  $('#body_options_111 .pagebody .report').prepend('<caption><span>Roster Limits</span></caption>');
  $('#body_options_94 .pagebody .report').prepend('<caption><span>Enter Custom Player</span></caption>');
  $('#body_options_95 .pagebody .report.nocaption').prepend('<caption><span>Enter Custom Positions</span></caption>');
  $('#body_options_186 .pagebody .report').prepend('<caption><span>Keeper League Setup</span></caption>');
  $('#body_options_144 .pagebody .report').prepend('<caption><span>Select Keepers</span></caption>');
  $('#body_options_147 .pagebody .report').prepend('<caption><span>Edit Drafted Column</span></caption>');
  $('#body_options_141 .pagebody .report').prepend('<caption><span>Set Up Victory Points</span></caption>');
  $('#body_options_84 .pagebody table').addClass('report');
  $('#body_options_84 .pagebody .report').prepend('<caption><span>Set Custom Standings Order</span></caption>');
  $('#body_options_12 textarea,#body_options_91 form').wrap('<table class="report"><tbody><tr><td></td></tr></tbody></table>');
  $('#body_options_12 .pagebody .report').prepend('<caption><span>Create A Custom Homepagemessage</span></caption>');
  $('#body_options_12 .pagebody .report.nocaption').prepend('<caption><span>Label Homepagemessage</span></caption>');
  $('#body_options_75 .pagebody .report').prepend('<caption><span>Salary Cap Setup</span></caption>');
  $('#body_options_36 .pagebody .report').prepend('<caption><span>Edit Salaries/Contracts</span></caption>');
  $('#body_options_173 .pagebody .report').prepend('<caption><span>Duplicate This League</span></caption>');
  $('#body_options_140 .pagebody .report,#body_options_77 .pagebody .report,#body_options_78 .pagebody .report').prepend('<caption><span>Playoff Setup</span></caption>');
  $('#body_options_82 .pagebody .report.nocaption').prepend('<caption><span>Seed Playoff Teams</span></caption>');
  $('#body_options_85 .pagebody .report.nocaption').prepend('<caption><span>Lineup Setup</span></caption>');
  $('#body_options_86 .pagebody .report.nocaption').prepend('<caption><span>Trades Setup</span></caption>');
  $('#body_options_87 .pagebody .report.nocaption').prepend('<caption><span>Injured Reserve Setup</span></caption>');
  $('#body_options_110 .pagebody .report.nocaption').prepend('<caption><span>Create A New Event</span></caption>');
  $('#body_options_41 .pagebody .report.nocaption').prepend('<caption><span>Waivers Setup</span></caption>');
  $('#body_options_97 .pagebody .report.nocaption').prepend('<caption><span>Waivers Setup Criteria</span></caption>');
  $('#body_options_83 .pagebody .report.nocaption').prepend('<caption><span>Enter Custom Waiver Order</span></caption>');
  $('#body_options_113 .pagebody .report.nocaption').prepend('<caption><span>Grid: Draft Results</span></caption>');
  $('#body_options_89 .pagebody .report.nocaption').prepend('<caption><span>Revert Draft</span></caption>');
  $('#body_options_106 .pagebody .report.nocaption').prepend('<caption><span>Change Draft Pick</span></caption>');
  $('#body_options_92 .pagebody .report.nocaption').prepend('<caption><span>Draft Setup</span></caption>');
  $('#body_options_91 .pagebody .report,#body_options_90 .pagebody .report.nocaption').prepend('<caption><span>Setup Draft Order</span></caption>');
  $('#body_options_25 .pagebody .report.nocaption').prepend('<caption><span>Select A Packaged Schedule</span></caption>');
  $('#body_options_114 .pagebody .report.nocaption').prepend('<caption><span>Rearrange Franchises In Fantasy Schedule</span></caption>');
  $('#body_options_139 .pagebody .report.nocaption').prepend('<caption><span>Switch Schedule Weeks</span></caption>');
  $('#body_options_168 .pagebody .report.nocaption').prepend('<caption><span>Import Fantasy Schedule</span></caption>');
  $('#body_options_61 .pagebody .report.nocaption').prepend('<caption><span>Reports and Other Settings</span></caption>');
  $('#body_options_59 .pagebody .report.nocaption').prepend('<caption><span>Setup Scrolling Text</span></caption>');
  $('#body_options_35 .pagebody .report.nocaption').prepend('<caption><span>Load League Images And CSS</span></caption>');
  $('#body_options_55 .pagebody .report.nocaption').prepend('<caption><span>Icons Setup</span></caption>');
  $('#body_options_56 .pagebody .report.nocaption').prepend('<caption><span>Menu Display Options</span></caption>');
  $('#body_options_57 .pagebody .report.nocaption').prepend('<caption><span>Skin Color Setup</span></caption>');
  $('#body_options_58 .pagebody .report.nocaption').prepend('<caption><span>Skin Font Setup</span></caption>');
  $('#body_options_128 .pagebody .report.nocaption').prepend('<caption><span>Select a skin</span></caption>');
  $('#body_options_119 .pagebody .report.nocaption').prepend('<caption><span>Waivers Tiebreaker</span></caption>');
  $('#body_options_71 .pagebody table').addClass('report');
  $('#body_options_71 .pagebody .report').prepend('<caption><span>Edit Homepage Tabs Layout</span></caption>');
  $('#body_options_68 .pagebody .report.nocaption').prepend('<caption><span>Create New Poll</span></caption>');
  $('#body_options_124 .pagebody .report.nocaption').prepend('<caption><span>Remove This League</span></caption>');
  $('#body_options_69 .pagebody .report.nocaption').prepend('<caption><span></span></caption>');
  $('#body_options_69 caption span').each(function(index) {
    $(this).text($(this).closest('table').find('th').text());
  });
});
</script>


<!------------  THIS WILL REMOVE ANY SKIN CSS LOADED ONTO THE MFL SITE     ------------->
<script type="text/javascript">
$(document).ready(function () {
  jQuery('#skin_stylesheet').remove();
});
</script>



<script type="text/javascript">
function chat_window (url) {
 var width  = 500;
 var height = 480;
 var left   = (screen.width  - width)/2;
 var top    = (screen.height - height)/2;
 var params = 'width='+width+', height='+height;
 params += ', top='+top+', left='+left;
 params += ', directories=no';
 params += ', location=no';
 params += ', menubar=no';
 params += ', resizable=no';
 params += ', scrollbars=yes';
 params += ', status=no';
 params += ', toolbar=no'
 newwin=window.open(url,'chat_window', params);
 chat_window.focus();
}
</script>





<!-- Player News JS -->
<script src="http://www.ghostxray.com/MFL/Mag12/jquery-ui.min.js"></script>
<script src="http://www.ghostxray.com/MFL/Mag12/player_news.js"></script>

<!-- Custom Scrollbar JS -->
<script src="http://www.ghostxray.com/MFL/Mag12/perfect-scrollbar-0.4.8.with-mousewheel.min.js"></script>

<script id="playerPopupTemplate" type="text/template">
    <h3 id="playerPopupName"></h3>
    <span id="playerPopupClose">X</span>
    <div id="playerPopupLoading">
        <p>Wait...Loading Player Details</p>
        <span></span>
    </div>
    <div id="playerPopupContent">
        <ul class="content_tabs">
		    <li class="popup_playernews"><a href="#player_news"><span>News</span></a></li>
		    <li class="popup_playerstathistory"><a href="#player_stathistory"><span>Stat History</span></a></li>
		    <li class="popup_playerstats"><a href="#player_stats"><span>2015 Stats</span></a></li>
        </ul>
        <div class="newsContent">
	        <div id="player_news" class="popup_playernews popup_tabcontent"></div>
	        <div id="player_stathistory" class="popup_playerstathistory popup_tabcontent"></div>
	        <div id="player_stats" class="popup_playerstats popup_tabcontent"></div>
        </div>
    </div>
</script>

<!-- Base JS -->
<script type="text/javascript">
	$(document).ready(function () {
		PlayerPopup.renderIcons({
			width: '540px',
			height: '480px',
			playerClickShowsPopup: false,
			openPopupLinksInNewWindow: true,
			dismissOnExternalClick: true,
			showOverlay: true,
			useDetailedNews: true,
			detailedNewsDays: 5,
			fadePopup: true,
			fadeTime: 300,
			sections: [
				{ id: 'body_options_02' },
				{ id: 'body_options_05' },
				{ id: 'body_options_06' },
				{ id: 'body_options_07' },
				{ id: 'body_options_08' },
				{ id: 'body_options_117' },
				{ id: 'body_options_133' },
				{ id: 'body_options_236' },
				{ id: 'body_options_247' },
				{ id: 'body_home' },
				{ id: 'body_top' },
				{ id: 'body_player_search' }

			],
			newNewsIcon: {
				display: true,
				icon: 'http://www.ghostxray.com/MFL/Mag12/flake.png',
				text: 'news update'
			},
			oldNewsIcon: {
				display: true,
				icon: 'http://www.ghostxray.com/MFL/Mag12/flakerecent.png',
				text: 'recent news'
			},
			noNewsIcon: {
				display: true,
				icon: 'http://www.ghostxray.com/MFL/Mag12/flakeno.png',
				text: 'news'
			}
		});
	});
</script>
<div id="playerPopupOverlay"></div>
<div id="playerPopupWrapper"></div><!-- MFL HOMEPAGE MESSAGE POPUP ALERT --->

<script type="text/javascript">

$(document).ready(function ()
{
    if(jQuery('.homepagemessage').length>0)
    {
        $('#openMessageLink').addClass('alert_img');
        jQuery('#openMessageLink').click(
            function(){
              openMessageLinkFn();
            }
        );

        jQuery('.homepagemessage').wrapAll('<div id="messagePopupContentInner" style="display:none"/>');
        jQuery('#messagePopupContent').html(jQuery('#messagePopupContentInner').html());

         $("#messagePopupWrapper").dialog(
              {
                autoOpen    : false,
                resizable    : false,
                modal        : true,
                open        : function()
                {
                $('#messagePopupOverlay').show();
                $('#messagePopupWrapper').show();

                },
                close        : function()
                {
                $('#messagePopupOverlay').hide();
                $('#messagePopupWrapper').hide();
                }
              });
    }
    else
    {
        jQuery('#openMessageLink').remove();

    }
});
function openMessageLinkFn()
{
    $( "#messagePopupWrapper" ).dialog("open");
}
function removedFromReady()
{
    jQuery('.wrap table').each(function(index)
    {
        var tabObj = $(this).find('tr');
        for(var i=0;i<tabObj.length;i++)
        {
            if(i==0)
            {
                tabObj.eq(i).append('<td><a  id="open_'+index+'" href="javascript:openMessageTable('+index+')">Open</a></td>');
                tabObj.eq(i).append('<td><a style="display:none" id="close_'+index+'"href="javascript:closeMessageTable('+index+')">Close</a></td>');
            }
            else
            {
                tabObj.eq(i).hide();
            }
        }
    });


}
function openMessageTable(index)
{
    var currentObj    =    jQuery('.wrap table').eq(index).find('tr');
    currentObj.find('#open_'+index).hide();
    currentObj.find('#close_'+index).show();
    for(var i=1;i<currentObj.length;i++)
    {
        currentObj.eq(i).show();
    }
}
function closeMessageTable(index)
{
    var currentObj    =    jQuery('.wrap table').eq(index).find('tr');
    currentObj.find('#close_'+index).hide();
    currentObj.find('#open_'+index).show();
    for(var i=1;i<currentObj.length;i++)
    {
        currentObj.eq(i).hide();
    }
}
function closeMessagePopupFn()
{
$( "#messagePopupWrapper" ).dialog("close");

}
</script>

<div id="messagePopupOverlay" class="messagePopupOverlay" style="display: none;"></div>
<div id="messagePopupWrapper" class="messagePopupWrapper">
  <h3 id="messagePopupName" class="messagePopupName">MFL Site News</h3>
  <a id="messagePopupClose" class="messagePopupClose" href="javascript:closeMessagePopupFn()">X<span></span></a>
 <div id="messagePopupContent" class="messagePopupContent"></div>
</div>

<style>
<div><a id="openMessageLink" title="MFL Message Alert"></a></div><style>
#scrollingText,#league_reminders.homepagemessage,#league_reminders,table.homepagemessage,
.skinselect,#homelink,#messagePopupOverlay,#openMessageLink,#messagePopupContentInner,
.homepagemessage,#hsubmenu,#vsubmenu,.pagefooter {
    display: none;
}
.pagebody {margin-bottom: 0px;padding: 10px 5px 5px;}
</style>

